@model _3lashanak.Models.ServicePackeges

@{
    ViewData["Title"] = "اضافة";
    var items = ViewBag.PackageId;
}

<h1>اضافة</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Service" class="control-label">الخدمة</label>
                <input asp-for="Service" class="form-control" />
                <span asp-validation-for="Service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackageId" class="control-label">الباقة</label>
                @if(items is not null)
                {
                    <select asp-for="PackageId" class ="form-control" asp-items="@items">
                    <option>اختار الباقة</option>
                    </select>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="اضافة" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">عودة للرئيسية</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
