@model IEnumerable<_3lashanak.Models.Settings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                الاسم
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.ActionLink("تعديل", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("التفاصيل", "Details", new {  id=item.Id }) |
            </td>
        </tr>
}
    </tbody>
</table>
