<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - لوحة التحكم</title>
    <link rel="shortcut icon" href="~/favicon.ico" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendors/iconly/bold.css">
    <link rel="stylesheet" href="~/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/app.rtl.css">
</head>

<body style="direction:rtl!important;">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <div id="app" >
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li id="1" class="sidebar-item">
                            <a class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>لوحة التحكم</span>
                            </a>
                        </li>
                        <li id="2" class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Messages" asp-action="Index">
                                <i class="bi bi-file-earmark-medical-fill"></i>
                                <span>الرسائل </span>
                            </a>
                        </li>
                        <li id="3" class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Service" asp-action="Index">
                                <i class="bi bi-file-earmark-medical-fill"></i>
                                <span>الخدمات </span>
                            </a>
                        </li>
                        <li id="4" class="sidebar-item  ">
                            <a class="sidebar-link" asp-controller="Partners" asp-action="Index">
                                <i class="bi bi-file-earmark-medical-fill"></i>
                                <span>المشاركات </span>
                            </a>
                        </li>
                        <li id="5" class="sidebar-item  ">
                            <a class="sidebar-link" asp-controller="Packages" asp-action="Index">
                                <i class="bi bi-file-earmark-medical-fill"></i>
                                <span>الباقات </span>
                            </a>
                        </li>
                        <li id="6" class="sidebar-item  ">
                            <a class="sidebar-link" asp-controller="ServicePackeges" asp-action="Index">
                                <i class="bi bi-file-earmark-medical-fill"></i>
                                <span>خدمات الباقات </span>
                            </a>
                        </li>
                        <li id="7" class="sidebar-item  ">
                            <a class="sidebar-link" asp-controller="Settings" asp-action="Index">
                                <i class="bi bi-file-earmark-medical-fill"></i>
                                <span>الاعدادات العامة </span>
                            </a>
                        </li>
                         <li id="8" class="sidebar-item ">
                            <a class="sidebar-link" asp-controller="SocialMedia" asp-action="Index">
                                <i class="bi bi-file-earmark-medical-fill"></i>
                                <span> مواقع التواصل</span>
                            </a>
                        </li>
                        <li id="9" class="sidebar-item ">
                            <a class="sidebar-link" asp-controller="Settings" asp-action="GetSubscribe">
                                <i class="bi bi-file-earmark-medical-fill"></i>
                                <span>  طلبات الإشتراك</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
          
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">                
            </div> @RenderBody()
        </div>
      
            
        
         
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/vendors/apexcharts/apexcharts.js"></script>
    <script src="~/js/pages/dashboard.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", false)
    <script>
$(document).ready(function() {
    
    $(`#${localStorage.getItem("btnActiv")}`).addClass("active");
    localStorage.setItem("btnActiv", "");
})
$("li").click(function() {
  
    localStorage.setItem("btnActiv",$(this).attr("id"))
})
    </script>
</body>

</html>
