@model _3lashanak.Models.Partners

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Partners</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           الصورة
        </dt>
        <dd class = "col-sm-10">
           <img src="@Model.Image" asp-append-version="true" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
