@model IEnumerable<_3lashanak.Models.Partners>

@{
    ViewData["Title"] = "الشركاء";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateAsync">Create New</a>
</p>
<table class="table table-striped table-bordered text-sm-right"style="direction:rtl!important;">
    <thead  style="width:300px!important">
        <tr>
            <th>
                الصورة
            </th>
            <th>التعديل</th>
            <th>التفاصيل</th>
            <th>الحذف</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                <img src="@item.Image" class="w-50 h-50" asp-append-version="true"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">تعديل</a> 
               
            </td>
               <td>
                <a asp-action="Details" asp-route-id="@item.Id"  class="btn btn-outline-primary">تفاصيل</a> 
            </td>
              <td>
                <a asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-outline-danger">حذف</a>
            </td>
            
        </tr>
}
    </tbody>
</table>
